{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>KT schemes</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/etc.css' %}" type="text/css" media="all">

<script>
function goBack() {
  window.history.back()
}
</script>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'js/tms.js' %}"></script>
<script type="text/javascript" src="{% static 'js/presets.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scp.js' %}"></script>


<style media="screen">

ul.ex1 {
margin-left: 30px;
}

li.other{
  font-size: 20px
}

</style>

</head>

{% block content %}

{% endblock %}

</html>
