{% extends "firstapp/base.html"  %}
{% load static %}
{% block content %}
<body id="page1"  data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">


        <nav>

            <!-- <button onclick="goBack()">Go Back</button> -->
            <center>
              <p></p>
            <h2 id="navhed"class="navbar-brand brand-name">

              <a class="navbar-brand" href="#"><img src="{% static "images/logomain.png"%}" width="250" ></a>

           </h2>
           </center>
          </nav>


      </div>
      <div class="slider_bg">
        <div class="slider">
          <ul class="items">
            <li><img src="{% static 'images/s1.png' %}" alt=""></li>
            <li><img src="{% static 'images/2.png' %}" alt=""></li>
            <li><img src="{% static 'images/3.png' %}" alt=""></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
    <article id="content">
      <div class="wrapper">
        <p></p><p></p>
        <h2>Featured</h2>
        <div class="wrapper">
          <section class="col1"> <span class="dropcap1"><span>1</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">National Agriculture Market (e-NAM) is a pan-India electronic trading portal which networks the existing APMC mandis to create a unified national market for agricultural commodities.</p>
              <p class="pad_bot2">Small Farmers Agribusiness Consortium (SFAC) is the lead agency for implementing eNAM under the aegis of Ministry of Agriculture and Farmers' Welfare, Government of India.</p>
              <a href="https://www.enam.gov.in/" class="link1">Visit</a> </div>
          </section>
          <section class="col1 pad_left1"> <span class="dropcap1"><span class="color2">2</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">(PMFBY) provides insurance coverage and financial support to the farmers in the event of failure of any of the notified crop as a result of natural calamities,pests & diseases. </p>
              <p class="pad_bot2">To stabilise the income of farmers to ensure their continuance in farming. To encourage farmers to adopt innovative and modern agricultural practices.</p>
              <a href="https://pmfby.gov.in/pdf/New%20Schemes-english_.pdf" class="link1">Visit</a> </div>
          </section>
          <section class="col1 pad_left1"> <span class="dropcap1"><span class="color1">3</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">Soil Health Card (SHC) is a Government of India's scheme promoted by the Department of Agriculture & Co-operation under the Ministry of Agriculture and Farmers' Welfare.</p>
              <p class="pad_bot2">It is used to assess the current status and, changes in soil health that are affected by land management.It displays soil health indicators and associated descriptive terms.</p>
              <a href="https://www.soilhealth.dac.gov.in/" class="link1">Visit</a> </div>
          </section>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <div class="wrapper">
        <section class="col2">
          <h2>We Want to Rise Your Crops <span>and Livestock!</span></h2>
          <div class="testimonials">
            <p class="quot">Once in a while in life you need a doctor, a lawyer, a policeman or maybe a preacher. But everyday, three times a day, you need a farmer.<img src="{% static 'images/quot2.png' %}" alt=""></p>
          </div>

          <p class="pad_bot1"><em class="font1 color1">Programmes & Schemes:</em></p>
          <div class="wrapper">
            <section class="col4">
              <ul class="list1">
                <li><a href="#a1">Agricultural marketing</a></li>
                <li><a href="#a2">Coperation</a></li>
                <li><a href="#a3">Crops & NFSM</a></li>
                <li><a href="#a4">Drought Management</a></li>
                <li><a href="#a5">Extension</a></li>
                <li><a href="#a6">Horticulture</a></li>
                <li><a href="#a7">Credit</a></li>
                <li><a href="#a8">Trade</a></li>

              </ul>
            </section>
            <section class="col4 pad_left1">
              <ul class="list1">
                <li><a href="#b1">Seeds</a></li>
                <li><a href="#b2">Policy</a></li>
                <li><a href="#b3">Oil Seed Division</a></li>
                <li><a href="#b4">Plan coordination</a></li>
                <li><a href="#b5">Plant Protection</a></li>
                <li><a href="#b6">Vigilance</a></li>
                <li><a href="#b7">Commercial Grounds</a></li>
                <li><a href="#b8">Other Schemes</a></li>

              </ul>
            </section>
          </div>
        </section>
        <section class="col3 pad_left2">
          <h2>Highlights</h2>
          <div class="wrapper">
            <figure class="left marg_right1"><img src="{% static 'images/icon.png' %}" alt=""></figure>
            <p><span class="font1 color2">PKVY(Paramparagat Krishi Vikas Yojana)</span><br>
              An initiative to promote organic farming in the country, was launched by the NDA government in 2015.  &nbsp;
              <a href="https://pgsindia-ncof.gov.in/pkvy/index.aspx" class="link1">Visit</a> </p>
          </div>
          <div class="wrapper">
            <figure class="left marg_right1"><img src="{% static 'images/icon.png' %}" alt=""></figure>
            <p><span class="font1 color2">PMKSY(Pradhan Mantri Krishi Sinchai Yojana)</span><br>
              It has been formulated with the vision of extending the coverage of irrigation 'Har Khet ko pani' and improving water use efficiency 'More crop per drop' &nbsp; <a href="https://pmksy.gov.in/" class="link1">Visit</a> </p>
              <!-- in a focused manner with end to end solution on source creation, distribution, management, field application and extension activities. -->
          </div>
          <div class="wrapper pad_top1">
            <figure class="left marg_right1"><img src="{% static 'images/icon.png' %}" alt=""></figure>
            <p><span class="font1 color2">NMSA(National Mission for Sustainable Agriculture)</span><br>
              It has been formulated for enhancing agricultural productivity especially in rainfed areas focusing on integrated farming. &nbsp; <a href="https://nmsa.dac.gov.in/" class="link1">Visit</a> </p>
              <!-- , water use efficiency, soil health management and synergizing resource conservation  -->
          </div>

        </section>
      </div>
    </article>
    <!-- / content -->
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper">
      <div id="a1">
              <h3> Agricultural Marketing </h3>
                  <ul id="icons">
                    <li>Integrated Scheme for Agricultural Marketing(ISAM) (effective since 01.04.2014)  -- > <a href="http://agricoop.gov.in/sites/default/files/finalopguidelines.pdf">  Read</a>  </li>
                    <li>National Agriculture Market (e-NAM)  -- > <a href="https://enam.gov.in/web/">  Visit</a>  </li>
                    <li>Model Agricultural Produce and Livestock Marketing(Promotion & Facilitation) Act, 2017 -- > <a href="http://agricoop.gov.in/sites/default/files/APLM_ACT_2017_0.pdf">  Read</a>   </li>
                    <li>Formulation of Model Contract Farming (Promotion & Facilitation) Act, 2017 and soliciting views/comments of farmers, general public, experts, professional bodies and institutions thereon  -- > <a href="http://agricoop.nic.in/sites/default/files/Formulation%20of%20model%20Contract%20Farming%20Act-Soliciting%20views-comments.pdf">  Read</a>   </li>
                  </ul>
      </div>

      <div id="a2">
              <h3> Coperation</h3>
                  <ul id="icons">
                    <li>Cooperative Education & Training  -- > <a href="#">  Visit</a>  </li>
                    <li>Assistance of National Cooperative Federations  -- > <a href="#">  Visit</a>  </li>
                    <li>Assistance to National Agriculture Cooperative Marketing Federation of India. (NAFED)  -- > <a href="http://www.nafed-india.com/">  Visit</a>  </li>
                    <li>Price Support Scheme(PSS):The Operational Guidelines  -- > <a href="http://agricoop.nic.in/sites/default/files/pssguidelines.pdf">  Read</a>  </li>
                    <li>JS.DO letter to States and UTs  -- > <a href="http://agricoop.nic.in/sites/default/files/jsdostatesut.pdf">  Read</a>  </li>
                  </ul>
      </div>

      <div id="a3">
              <h3>Crops & NFSM</h3>
                  <ul id="icons">
                    <li>National Food Security Mission(NFSM)  -- > <a href="https://nfsm.gov.in/">  Visit</a>  </li>
                  </ul>
      </div>

      <div id="a4">
              <h3> Drought Management</h3>
                  <ul id="icons">
                      <li>Drought Managment Plan, November 2017 -- > <a href="http://agricoop.nic.in/sites/default/files/Drought%20Management%20Plan%20_0.pdf">  Read</a>  </li>
                      <li>Drought Measures  -- > <a href="http://agricoop.nic.in/sites/default/files/Programmes%20%26%20Schemes%20of%20Drought%20Management.pdf">  Read</a>  </li>
                      <li>Draft National Disaster Mitigation Plan  -- > <a href="http://agricoop.nic.in/sites/default/files/draftdisplan7813.pdf">  Read</a>  </li>
                  </ul>
      </div>

      <div id="a5">
              <h3> Extension</h3>
                   <ul id="icons">
                       <li>Programmes and Schemes for Extension  -- > <a href="http://agricoop.nic.in/sites/default/files/Programme-Schemes_new.pdf">  Read</a>  </li>
                       <li>Guidelines of EEIs  -- > <a href="http://agricoop.nic.in/sites/default/files/EEI-Revised-Gudelines.pdf">  Read</a>  </li>
                       <li>Guidelines of Modal Training Courses (MTC)  -- > <a href="http://agricoop.nic.in/sites/default/files/Guidelines_MTC_0.pdf">  Read</a>  </li>
                       <li>Operational Modalities for Skill Training of Rural Youth (STRY)  -- > <a href="http://agricoop.nic.in/sites/default/files/Skill-Training_0.pdf">  Read</a>  </li>
                       <li>AC&ABC Revised Training Curriculum and Training Cost  -- > <a href="http://agricoop.nic.in/sites/default/files/ACABC-Revised-Guideline-2018_1.pdf">  Read</a>  </li>
                       <li>Support to Extension Programmes for Extension Reforms  -- > <a href="http://agricoop.nic.in/sites/default/files/ATMA-Guidelines-2018.pdf">  Read</a>  </li>
                       <li>Mass media support to Agricultural Extension  -- > <a href="http://agricoop.nic.in/sites/default/files/Mass-Media-support-to-Agricultural-Extension.pdf">  Read</a>  </li>
                       <li>Convergence Between Agriculture Research and Extension (English)  -- > <a href="http://agricoop.nic.in/sites/default/files/Convergence-between-Agricultural-Research-and-Extension.pdf">  Read</a>  </li>
                       <li>Manpower development under ATMA scheme in different States/UTs --><a href="http://agricoop.nic.in/programmesandschemes/extension">  Visit</a>  </li>
                       <li>Tentative allocation of funds to States/UTs under ATMA scheme during 2019-20<a href="http://agricoop.nic.in/sites/default/files/State-wise-tentative-allocation-of-funds-during-2019-20.pdf">  Read</a>  </li>
                   </ul>
      </div>

      <div id="a6">
              <h3> Horticulture</h3>
                    <ul id="icons">
                      <li>Central Institute of Horticulture(CIH)  -- > <a href="http://cihner.gov.in/">  Visit</a>  </li>
                      <li>Directorate of Arecanut and Spices Development(DASD)  -- > <a href="https://www.dasd.gov.in/">  Visit</a>  </li>
                      <li>Mission For Integrated Development of Horticulture (MIDH)  -- > <a href="http://midh.gov.in/">  Visit</a>  </li>
                      <li>National Horticulture Board (NHB)  -- > <a href="http://nhb.gov.in/default.aspx">  Visit</a>  </li>
                      <li>Coconut Development Board (CDB)  -- > <a href="https://coconutboard.nic.in/">  Visit</a>  </li>
                      <li>Directorate of Cashewnut & Cocoa Development  -- > <a href="https://dccd.gov.in/Index.aspx?mid=48">  Visit</a>  </li>
                    </ul>
      </div>

      <div id="b1">
              <h3>	Seeds</h3>
                    <ul id="icons">
                      <li>Second Component  -- > <a href="http://agricoop.nic.in/sites/default/files/RE-BE.pdf">  Read</a> </li>
                      <li>Operational Guidelines on SMSP Under NMAET  -- > <a href="http://agricoop.nic.in/sites/default/files/SMSP13.05.2014.pdf">  Read</a>  </li>
                      <li>Component details of the Central Sector Scheme Development and Strengthening of Infrastructure facilities for production and Distribution of Quality Seeds  -- > <a href="http://agricoop.nic.in/sites/default/files/20-9-2019-scheme-updation.pdf">  Read</a>  </li>
                      <li>Component details of the Central Sector Scheme ‘Development and Strengthening of Infrastructure Facilities for Production and Distribution of Quality Seeds  -- > <a href="https://seednet.gov.in/Material/Prog-Schemes.htm">  Visit</a>  </li>
                    </ul>
      </div>

      <div id="b2">
              <h3>	Policy</h3>
                  <ul id="icons">
                    <li>Policy and Management in Agriculture “State of the Indian Farmer-A Millennium Study”  -- > <a href="#">Visit</a> </li>
                  </ul>
      </div>

      <div id="b3">
              <h3>	Oilseeds Divisions</h3>
                  <ul id="icons">
                    <li>Mini Mission I(Oilseeds)  -- > <a href="http://agricoop.nic.in/sites/default/files/MMI_OS_201415_AAP.pdf">  Read</a> </li>
                    <li>Mini Mission II(Oil Palm)  -- > <a href="http://agricoop.nic.in/sites/default/files/MMII_OS_201415_AAP.pdf">  Read</a> </li>
                    <li>Mini Mission III(TBOs)  -- > <a href="http://agricoop.nic.in/sites/default/files/MMIII_OS_201415_AAP.pdf">  Read</a> </li>
                  </ul>
      </div>

      <div id="b4">
              <h3>	Plan Coordination</h3>
                  <ul id="icons">
                    <li>Macro Management of Agriculture Supplementation Complementation of States Efforts through Work Plan  -- > <a href="http://www.mpkrishi.org/EngDocs/AgriTop/Sch/schHome.aspx">  Visit</a> </li>
                  </ul>
      </div>

      <div id="b5">
              <h3>	Plant Protection</h3>
                  <ul id="icons">
                    <li>Sub-Mission on Plant Protection and Plant Quarantine  -- > <a href="http://agricoop.nic.in/sites/default/files/Sub-Mission-on-Plant-Protection-and-Plant-Quarantine_0.pdf">  Read</a> </li>
                  </ul>
      </div>

      <div id="b8">
              <h3>Other Schemes :</h3>
              <ul id="icons">
                <li class="other"><b>Rainfed Farming System</b></li><br>
                    <ul style="list-style-type:disc" class="ex1">
                        <li>    Operational Guidelines of National Mission for Sustainable Agriculture(NMSA) for XII Plan Perioda -- > <a href="http://agricoop.nic.in/sites/default/files/Final_guidelines_0.pdf">  Read</a></li>
                        <li>    National Watershed Development Project for Rainfed Areas (NWDPRA) -- > <a href="http://agricoop.nic.in/sites/default/files/NMSA5913.pdf">  Read</a></li>
                        <li>    Rainfed Area Development Programme (RADP) -- ><a href="http://agricoop.nic.in/sites/default/files/RADP5913.pdf">  Read</a></li>
                        <li>    Accelerated Fodder Development Programme (AFDP) -- ><a href="http://agricoop.nic.in/sites/default/files/AFDP5913.pdf">  Read</a></li>
                        <li>    Watershed Development Fund (WDF) -- ><a href="http://agricoop.nic.in/sites/default/files/WDF692013.pdf">  Read</a></li>
                        <li>    Statistical data on Rainfed Area -- ><a href="http://agricoop.nic.in/sites/default/files/Statistical%20Information%20on%20Rainfed%20Area.pdf">  Read</a></li>
                        <li>    National Mission for Sustainable Agriculture (NMSA) -- ><a href="http://agricoop.nic.in/sites/default/files/NMSA.pdf">  Read</a></li>
                        <li>    Agriculture Contigency Plan -- ><a href="http://agricoop.nic.in/sites/default/files/Agriculturecontigencyplans.pdf">  Read</a></li>
                        <li>    Externally Aided Projects -- ><a href="http://agricoop.nic.in/sites/default/files/EAp8410.pdf">  Read</a></li><br>
                        <br>
                    </ul>

                <li class="other"><b>Natural Resource Management</b></li><br>
                    <ul style="list-style-type:disc" class="ex1">
                      <li>National Bamboo Mission -- ><a href="https://www.nbm.nic.in/">  Visit</a> </li>
                      <li>Annual Allocation (2019-20) -- ><a href="http://agricoop.nic.in/sites/default/files/AllocationSMAF_201920.pdf">  Read</a> </li>
                      <li>National Agroforestry Policy 2014 -- ><a href="http://agricoop.nic.in/sites/default/files/National%20Agroforestry%20Policy%202014.pdf">  Read</a></li>
                        <li>Revised Annual Allocation (2019-20) for implementation of Sub Mission on Agroforestry (SMAF) under the National Mission for Sustainable Agriculture (NMSA) -- ><a href="http://agricoop.nic.in/sites/default/files/Revised-Annual-Allocation-2019-Nov..pdf">  Read</a></li>
                        <li>Revised Annual Action Plan (2019-20) for implementation of Sub Mission on Agroforestry (SMAF) under the National Mission for Sustainable Agriculture (NMSA) -- ><a href="http://agricoop.nic.in/sites/default/files/Revised-Annual-Allocation-under-SMAF-for-2019-20.pdf">  Read</a></li><br>
                        <br>
                    </ul>

                <li class="other"><b>Integrated Nutrient Management</b> </li><br>
                    <ul style="list-style-type:disc" class="ex1">
                        <li>Mission Organic Value Chain Development for North Eastern Region progress report reg -- ><a href="http://agricoop.nic.in/sites/default/files/Department%20Website%20I.pdf">  Read</a></li>
                        <li>Request to depute officer deals with organic manures, biofertilizers and other organic materials in the weekly video conference held every Friday with detailed information. -- ><a href="http://agricoop.nic.in/sites/default/files/departmental%20website%20II.pdf">  Read</a></li>
                        <li>Soil Health Management(SHM) Under National Mission for Sustainable Agriculture(NMSA)(W.E.F,1st April 2014)</li>
                        <li>National Project on Management of Soil Health and Fertility (NPMSHF)(Upto 31st March 2014)</li>
                        <li>Strengthening of Soil Testing Laboratories (STLs)</li>
                        <li>Promoting use of integrated nutrient management</li>
                        <li>Strengthening of fertilizer quality control laboratories</li>
                        <li>Continuation/strengthening of Central Fertilizer Quality Control & Training Institute, Faridabad and its Regional Laboratories -- ><a href="https://cfqcti.dacnet.nic.in/">  Visit</a></li>
                        <li>National Project on Organic Farming (NPOF)(Upto 31st March 2014)</li>
                        <li>Guidelines of National Mission for Sustainable Agriculture(NMSA) for XII Plan Period</li><br>
                        <br>
                    </ul>


              <li class="other"> <b>Rashtriya Krishi Vikas Yojana</b> </li><br>
                <ul style="list-style-type:disc" class="ex1">
                    <li>Revised Guidelines RKVY 2014 -- ><a href="http://agricoop.nic.in/sites/default/files/RKVY_Guildlines_%28XII_Plan%29-2014.pdf">  Read</a></li><br>
                    <br>
                </ul>
            </ul>
        </div>


        <section class="col2">
          <div class="wrapper">
            <div id="footer_link">Thankyou for Visiting !!   <button onclick="goBack()">Go Back</button> <br></div>
          </div>
          </section>
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
</body>

{% endblock %}
